// Navigation code here

.header .navbar{
        @media @phone{
          margin:0px;
          };
    .basicFlex();//this is a mixin
        flex-direction: column;
        background: @wild-sand;
        opacity: .9; //Stretch Opacity
        width: 100%;
        padding-bottom: 20px;


        //this is the stretch

position: fixed;
padding-top:10px;
top: 0px;
        //end stretch
    .navatags{
        
      .basicFlex();//this is a mixin
            a{

                @media @phone{
                    margin:0px;
                    padding: 10px;
                }
                margin: 0px 30px 0px 30px;
                font-size: 1.6rem;
                text-decoration: none;
                color: @ebony-clay;

            }//closes a tag

    }//closes navatag
    p{
        @media @phone{
            font-size: 8vw;
        }
    color: @ebony-clay;
    font-family: @headFont;
    font-size:4vw;
    padding-bottom: 10px;
    }//closes p
}//closes header navbar